# python
*.pyc
__pycache__/

# classic ignores
~*.*
~*/
$*.*

# bombsquad dev source files
BombSquadGeneric.pdb

# mods
ba_data/textures2/core/mods/ext/*
ba_data/audio2/core/mods/ext/*
ba_data/meshes2/core/mods/ext/*